$baseFontFamily: 'PT Sans', sans-serif;
$primaryTextColor: #243238;
$secondaryTextColor: #90A4AE;
$primaryColor: #2196F3;
$primaryColorDark: #0D47A1;
$secondaryColor: #546e7a;
$successMessageColor: #76d48f;
$errorMessageColor: #d84315;

body {
    font-family: $baseFontFamily;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: $primaryTextColor;

    @include breakpoint(small) {
        line-height: 1.4;
    }

    .container{
        @media (min-width: 1200px){
            width: 1064px;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $baseFontFamily;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.5;
        font-weight: 700;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 30px;

        @include breakpoint(small) {
            font-size: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }

    h3 {
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;

        @include breakpoint(small) {
            font-size: 16px;
        }
    }

    h4 {
    }

    h5 {
    }

    h6 {
    }

    img {
        display: inline-block;
        max-width: 100%;
    }

    a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        outline: none !important;
        color: $primaryTextColor;
        transition: all 0.25s;

        &::-moz-focus-inner {
            border: 0 !important;
        }

        &:hover, 
        &:focus {
            text-decoration: none;
            color: ligten($primaryTextColor, 10deg);
        }
    }
}