@font-face {
  font-family: 'PT Sans Caption';
  src: url("../fonts/PTSans/PTC55F.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Caption';
  src: url("../fonts/PTSans/PTC75F.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Narrow';
  src: url("../fonts/PTSans/PTN57F.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Narrow';
  src: url("../fonts/PTSans/PTN77F.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTSans/PTS55F.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTSans/PTS56F.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTSans/PTS75F.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTSans/PTS76F.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}