﻿@mixin placeholder-style() {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(144,164,174,1);
    transition: all 0.25s;
}

@mixin focus-placeholder-style() {
    color: rgba(144,164,174,0);
}
