﻿button, 
.button, 
input[type="button"],
input[type="submit"],
input[type="reset"] {
    position: relative;
    display: inline-block;
    // width: 100%;
    padding: 15px 20px;
    border: 0;
    box-sizing: border-box;
    background-color: #42A5F5;
    background-image: linear-gradient(to bottom, #42A5F5, #2196F3);
    font-family: inherit;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    white-space: nowrap;
    color: #fff;
    cursor: pointer;
    box-shadow: none;
    appearance: none;
    user-select: none;
    transition: all 0.25s;

    &:hover {
        outline: none;
        color: #fff;
        background-color: #2196F3;
        background-image: linear-gradient(to bottom, #2196F3, #1976D2);
    }

    &:focus {
        outline: none;
        color: #fff;
        background-color: #2196F3;
        background-image: linear-gradient(to bottom, #2196F3, #1976D2);
    }

    &:active {
        outline: none;
        color: #fff;
        background-color: #0D47A1;
        background-image: linear-gradient(to bottom, #0D47A1, #1976D2);
    }

    &:disabled {
        background-image: none;
        background-color: rgb(200,200,200);
        cursor: not-allowed;
    }
}