﻿input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'] {
    display: inline-block;
    width: 100%;
    height: auto;
    padding-top: 9px;
    padding-right: 20px;
    padding-bottom: 9px;
    padding-left: 50px;
    border: 1px solid transparent;
    border-top: 1px solid #cfd8dc;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    color: $primaryTextColor;
    text-overflow: ellipsis;
    background-color: #fff;
    appearance: none;
    box-shadow: none;
    transition: all 0.25s;

    //&:nth-of-type(2n) {
    //    margin-top: 20px;
    //}

    &:focus {
        outline: none;
        box-shadow: none;

        &::-webkit-input-placeholder {
            @include focus-placeholder-style;
        }

        &::-moz-placeholder {
            @include focus-placeholder-style;
        }

        &:-ms-input-placeholder {
            @include focus-placeholder-style;
        }
    }

    &[disabled],
    &[readonly] {
        cursor: default;
        background-color: #eee;
    }

    &::-webkit-input-placeholder {
        @include placeholder-style;
    }

    &::-moz-placeholder {
        @include placeholder-style;
    }

    &:-ms-input-placeholder {
        @include placeholder-style;
    }
}