table{
	width: 100%;

	tr{
		td{
			position: relative;
			padding-top: 20px;
			padding-bottom: 20px;
			padding-right: 50px;
				
		}
	}

	thead{
		font-weight: 700;

		tr{
			td{
				vertical-align: middle;
			}
		}
	}

	tbody{
		tr:not(:last-child){
			border-bottom: 1px solid #dde3e6;

			td{
				vertical-align: top;
			}
		}
	}

	 @include breakpoint(extra-small) {
	 	font-size: 12px;

        tr{
			td{
				padding-top: 15px;
				padding-bottom: 15px;
				padding-right: 25px;
			}
		}
    }
}