<section class="banner">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-push-6 col-md-6 col-md-push-6 col-lg-6 col-lg-push-6 text-wrapper">
				<h2><span>40% OFF</span> On Independence Day</h2>
				<p>Here will a short text description of special offer!</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-sm-pull-6 col-md-6 col-md-pull-6 col-lg-6 col-lg-pull-6 image-wrapper">
				<img class="heart" src="img/Illustration-1.png" srcset="img/Illustration-1@2x.png 2x" alt="img">
				<img class="box" src="img/Illustration-2.png" srcset="img/Illustration-2@2x.png 2x" alt="img">
				<img class="lines" src="img/Illustration-3.png" srcset="img/Illustration-3@2x.png 2x" alt="img">
			</div>
		</div>
	</div>
</section>