<head>
	<title>Frontend Test</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link href="img/favicon/favicon.ico" type="image/x-icon" rel="shortcut icon" />
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel='stylesheet' />
	<link href="css/index.css" type="text/css" rel="stylesheet" />
</head>