<header>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-wrapper">
				<div class="logo-wrapper">
					<a href="#" class="logo">
						<img src="img/Logotype.png" alt="Logo">
					</a>
				</div>
				
				<div class="signin-wrapper">
					<a class="signin" data-toggle="collapse" data-parent="" href="#login-form">sign up</a>
					<div id="login-form" class="panel-collapse collapse">
	                    <form action="">
	                    	<div class="fields-wrapper">
		                    	<div class="field-wrapper name-wrapper">
			                        <input type="text" name="name" data-validate="name" required placeholder="Enter our nickname" tabindex="1">
			                    </div>
			                    <div class="field-wrapper email-wrapper">
			                        <input type="email" name="email" data-validate="email" required placeholder="Your email" tabindex="2">
			                    </div>
			                    <div class="field-wrapper password-wrapper">
			                        <input type="password" name="password" data-validate="password" required placeholder="Password" tabindex="3">
			                    </div>
			                    <div class="field-wrapper confirm-wrapper">
			                        <input type="password" name="confirm-password" data-validate="confirm" required placeholder="Repeat password" tabindex="4">
			                    </div>
			                </div>
		                    <button type="submit" tabindex="5">sing up</button>
	                    </form>
	                </div>
				</div>
			</div>
		</div>
	</div>
</header>