<section class="houses-info">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-wrapper">
				<h2>Houses of Our Custom</h2>
				<table>
					<thead>
						<tr>
							<td>
								<a class="name-col-title" href="#">Name of the house</a>
							</td>
							<td>
								<a class="region-col-title" href="#">Region</a>
							</td>
							<td>Residents</td>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</section>