<section class="slider">
	<div class="container">
		<div class="row">
			<ul class="templates-list">
				<li class="clearfix">
					<div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-6 col-md-push-5 col-lg-5 col-lg-push-5 text-wrapper">
						<a href="#"><h3>Guillermo - Life & Business Coaching WordPress Theme</h3></a>
						<p>Check out Monstroid, the number 1 TemplateMonster’s WordPress theme from over 2000 themes. Monstroid has been used to create more than 5000 websites, and help hundreds of people launch their businesses online, so join the ranks of happy Monstroid owners!</p>
					</div>
					<div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-offset-1 col-md-pull-6 col-lg-4 col-lg-offset-1 col-lg-pull-5 image-wrapper">
						<img src="img/slide-1.1.png" alt="Template">
					</div>
				</li>
				<li class="clearfix">
					<div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-6 col-md-push-5 col-lg-5 col-lg-push-5 text-wrapper">
						<a href="#"><h3>Jedi - MAY THE JOOMLA BE WITH YOU</h3></a>
						<p>Want to run a store, business site, portfolio or a blog – just purchase Jedi and check out how easy it is. No other theme on the market offers this much functionality in one pack.</p>
					</div>
					<div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-offset-1 col-md-pull-6 col-lg-4 col-lg-offset-1 col-lg-pull-5 image-wrapper">
						<img src="img/slide-2.1.png" alt="Template">
					</div>
				</li>
				<li class="clearfix">
					<div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-6 col-md-push-5 col-lg-5 col-lg-push-5 text-wrapper">
						<a href="#"><h3>Woostroid</h3></a>
						<p>Designed to be 2017’s ultimate ecommerce theme, Woostroid has both looks and functionality which together will double the efficiency of your e-store!</p>
					</div>
					<div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-offset-1 col-md-pull-6 col-lg-4 col-lg-offset-1 col-lg-pull-5 image-wrapper">
						<img src="img/slide-3.1.png" alt="Template">
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>