.banner{
	overflow: hidden;
	background-image: linear-gradient(to bottom, #26343B, #4E646D);
	font-size: 16px;
	color: #fff;

	.text-wrapper{
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    min-height: 400px;
	    padding-top: 40px;
	    padding-bottom: 40px;
	    z-index: 9;

	    h2{
    	    margin-bottom: 20px;

	    	span{
				color: $successMessageColor;
	    	}
	    }
	}

	.image-wrapper{
		height: 100%;

		img{
			position: absolute;

			&.heart{
				top: 120px;
    			left: 100px;
    			z-index: 3;
    			width: 280px;
			}
			&.box{
				left: -25px;
    			top: 130px;
    			z-index: 2;
    			width: 530px;
			}
			&.lines{
			    top: -120px;
			    left: 60px;
			    z-index: 1;
			    width: 440px;
			}
		}
	}

	@include breakpoint(medium) {
		.image-wrapper{
			img{
				&.heart{
	    			left: 80px;
				}
				&.box{
					top: 150px;
				}
			}
		}
	}

	@include breakpoint(small) {
		.text-wrapper{
		    min-height: 300px;

		    h2{
		    	margin-bottom: 15px;
		    }
		}

		.image-wrapper{
			img{
				&.heart{
					top: 110px;
    				left: 90px;
    				width: 200px;
				}
				&.box{
					left: 0px;
    				top: 90px;
				}
				&.lines{
					top: -130px;
    				left: 66px;
    				width: 300px;
				}
			}
		}
	}

	@include breakpoint(extra-small) {
		.text-wrapper{
		    min-height: auto;
		    padding-bottom: 0;
		}

		.image-wrapper{
			height: 300px;

			img{
			    max-width: none;
				width: auto !important;

				&.heart{
					top: 90px;
    				left: 60px;
				}

				&.box{
					left: -60px;
				}
				
				&.lines{
					left: 30px;
				}
			}
		}
	}
}