header{
	background-color: #fff;

	.header-wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 80px;
		border-bottom: 1px solid #dde3e6;
	
		.logo-wrapper{
			.logo{
			  	img{
					min-width: 250px;
			  	}
			}
		}

		.signin-wrapper{
			position: relative;
			
			.signin{
				position: relative;
				padding-top: 10px;
				padding-right: 25px;
				padding-bottom: 10px;
				padding-left: 50px;
				border-radius: 3px 3px 0 0;
				line-height: 1;
				font-weight: 700;
				color: $primaryColor;
				text-transform: capitalize;

				&:hover{
					color: $primaryColorDark;
				}

				&:before{
					content: '\e008';
					position: absolute;
					top: 50%;
					left: 20px;
					transform: translateY(-50%);
					display: block;
					width: 20px;
					height: 20px;
					border: 1px solid;
					border-radius: 50%;
					text-align: center;
		    		font-size: 11px;
					line-height: 20px;
					font-family: 'Glyphicons Halflings';
				}

				&[aria-expanded="true"]{
					color: #fff;
					background-color: $secondaryColor;
				}
			}
		}
	}

    @include breakpoint(extra-small) {
		.header-wrapper{
			height: 60px;

			.logo-wrapper{
				height: 30px;

				.logo{
					width: 40px;
					overflow: hidden;

				  	img{
						min-width: 190px;
				  	}
				}
			}
		}
	}
}