.houses-info{
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #fff;

	h2{
		margin-bottom: 30px;
		text-align: center;
	}

	table{
		thead{
			td:first-child,
			td:nth-child(2){
				a{
					padding-right: 15px;

					&:after{
						content: '\e094';
						position: absolute;
						top: 50%;
						right: 0;
						transform: translateY(-50%);
						font-family: 'Glyphicons Halflings';
						font-size: 11px;
					    line-height: 1;
					    transition: all 0.25s;
					}

					&.desc{
						&:after{
							transform: rotateZ(180deg) translateY(50%);
						}
					}

					&:hover{
						color: $primaryColor;
						
						&:after{
							color: $primaryColor;
						}
					}

					&:active{
						color: $primaryColorDark;

						&:after{
							color: $primaryColorDark;
						}
					}
				}
			}

			td:first-child{
				width: 25%;

				a{
					color: #1B262A;

					&:after{
						color: #1ab744;
					}
				}
			}

			td:nth-child(2){
				width: 25%;

				a{
					color: $primaryColor;
				}
			}

			td:last-child{
				width: 50%;
				color: $secondaryTextColor;
			}
		}
		
		tbody{
			td:first-child{
				font-weight: 700;
			}

			td:last-child{
				width: 50%;
				color: $secondaryTextColor;

				.residents-list{
					padding-left: 0;
					margin-bottom: 0;
					list-style: none;

					li{
						display: inline-block;
						width: 33.33%;
					}
				}
			}
		}
	}

	@include breakpoint(small) {
        table{
			tbody{
				td:last-child{
					.residents-list{
						li{
							width: 50%;
						}
					}
				}
			}
		}
    }

    @include breakpoint(extra-small) {
        table{
			thead{
				td:nth-child(n){
					width: 33.33%;
				}
			}

			tbody{
				td:last-child{
					width: 50%;
					color: $secondaryTextColor;

					.residents-list{
						padding-left: 0;
						margin-bottom: 0;
						list-style: none;

						li{
							display: inline-block;
							width: 100%;
						}
					}
				}
			}
		}
    }
}