#login-form{
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 999;
	width: 300px;
	border-radius: 3px 0 3px 3px;
	background-color: $secondaryColor;

	form{
		.fields-wrapper{
			padding: 10px;

			.field-wrapper{
				position: relative;
				padding: 10px;
    			border-top: 1px solid #455a64;

    			&:before{
					content: '';
					position: absolute;
					top: 50%;
					left: 30px;
					transform: translateY(-50%);
					width: 20px;
					height: 20px;
					background-color: transparent;
					background-repeat: no-repeat;
					background-position: 50%;
					background-size: contain;
				}

				&.name-wrapper:before{
					background-image: url("../img/icn-login.png");
				}

				&.email-wrapper:before{
					background-image: url("../img/icn_search.png");
				}

				&.password-wrapper:before,
				&.confirm-wrapper:before{
					background-image: url("../img/icn-password.png");
				}

				.no-valid-regexp {
                    border-color: #90caf9;
                }
 
                .error-message,
                .error-required {
                    position: absolute;
                    top: 50%;
                    right: calc(100% + 19px);
                    transform: translateY(-50%);
                    padding: 10px 18px;
                    border-radius: 3px;
                    background-color: $errorMessageColor;
                    font-size: 14px;
                    line-height: 20px;
                    color: #fff;
                    white-space: nowrap;

                    &:before{
                    	content: '';
					    position: absolute;
					    top: 50%;
					    left: calc(100% - 9px);
					    transform: translateY(-50%) rotateZ(45deg);
					    width: 14px;
					    height: 14px;
	                    background-color: $errorMessageColor;
                    }

                    &:first-letter{
                    	text-transform: uppercase;
                    }
                }
			}
		}

		[type="submit"]{
			width: 100%;
			padding-top: 13px;
			padding-bottom: 13px;
			border-radius: 0 0 3px 3px;
		}

		.response-success-message {
            position: absolute;
            top: 100%;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 3px;
            background-color: $secondaryColor;
            transition: all 0.5s;
            text-align: center;
            overflow: hidden;

            span:first-of-type {
                position: absolute;
                top: 45%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80%;
                font-size: 20px;
                line-height: 1.2;
                font-weight: 700;
                text-transform: uppercase;
                color: $successMessageColor;
                transition: all 0.5s;

                &:before{
                	content:'';
                	display: block;
                	width: 80px;
                	height: 80px;
                	margin-left: auto;
					margin-right: auto;
                	margin-bottom: 25px;
                	background-image: url('../img/icn-check@1x.png');
                }
            }

            span:last-of-type {
				position: absolute;
                bottom: 40px;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80%;
                font-size: 14px;
                line-height: 1.2;
                font-weight: 400;
                color: #fff;
                transition: all 0.5s;
            }

            &.message-show {
                top: 0;
            }
        }
	}

    @include breakpoint(extra-small) {
        width: 290px;
    }
}