.slider{
	overflow: hidden;
	background-color: #fff;

	.slider-wrapper{
		position: relative;

		.prev,
		.next{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 99;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			font-size: 22px;
			background-color: transparent;
			background-position: 50%;
			background-repeat: no-repeat;
			background-image: none;

			&:focus{
				background-color: transparent;
			}

			&:hover{
				background-color: $primaryColor;
			}

			&:active{
				background-color: $primaryColorDark;
			}

			&:hover,
			&:active{
				&:before{
					color: #fff;
				}
			}

			&:before{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-family: 'Glyphicons Halflings';
				color: #78909c;
			}
		}

		.prev{
			left: 40px;

			&:before{
				content:'\e257';
			}
		}

		.next{
			right: 40px;

			&:before{
				content:'\e258';
			}
		}
	}

	ul.templates-list{
		position: relative;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
		min-height: 350px;

		li{
			position: absolute;
			top: 0;
			transform: translateX(0%);
			display: none;
			width: 100%;
			height: 100%;
			padding-top: 40px;
			background-color: #fff;
			transition: all 0.5s;

			.image-wrapper{
				padding-left: 80px;
			}

			.text-wrapper{
				h3{
					margin-bottom: 20px;
				}
			}

			&.current{
				display: flex;
				align-items: center;
				z-index: 9;
			    animation-duration: 0.5s;
			    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
			    animation-delay: initial;
			    animation-iteration-count: initial;
			    animation-direction: initial;
			    animation-fill-mode: forwards;
			    animation-play-state: initial;
			}

			@keyframes slide-in-left{
				0%{
					transform: translateX(100%);
				}
				100%{
					transform: translateX(0%);
				}
			}

			@keyframes slide-out-left{
				0%{
					transform: translateX(0%);
				}
				100%{
					transform: translateX(-100%);
				}
			}

			@keyframes slide-in-right{
				0%{
					transform: translateX(-100%);
				}
				100%{
					transform: translateX(0%);
				}
			}

			@keyframes slide-out-right{
				0%{
					transform: translateX(0%);
				}
				100%{
					transform: translateX(100%);
				}
			}
		}
	}

	@include breakpoint(medium) {
		ul.templates-list{
			li{
				.image-wrapper{
					padding-left: 50px;
				}
			}
		}
	}

	@include breakpoint(small) {
		.slider-wrapper{
			.prev{
				left: 10px;
			}

			.next{
				right: 10px;
			}
		}

		ul.templates-list{
			min-height: 300px;

			li{
				padding-top: 30px;

				.text-wrapper{
					padding-right: 60px;
				}

				.image-wrapper{
					padding-left: 60px;
				}
			}
		}
	}

	@include breakpoint(extra-small) {
		.slider-wrapper{
			.prev,
			.next{
				display: none;
			}
		}

		ul.templates-list{
			li{
				flex-direction: column;

				.text-wrapper{
					top: 0;
					transform: translateY(0);
					padding-right: 15px;
				}

				.image-wrapper{
					margin-top: 10px;
					padding-left: 15px;
					
					img{
						box-shadow: 12px 10px 20px rgba(36, 50, 56, 0.2);
					}
				}
			}
		}
	}
}